<% provide(:title, @title) %>	
<% if logged_in? %>
	<%= link_to "log out", logout_url, method: :delete %>
	<h1><%= link_to "#{@user.user_name}", @user %></h1>

	<%= render "shared/post_form"%> 

	<%= render "shared/posts", posts: @posts   %>

<% else %>
	

	<div id="start_signup">
		<div id="start_signup_grid">

			<div id="signup_phrase">
				<h2>Share, connect and play Chess with your friends.</h2>
			</div>

			<%= form_for(@user) do |f|%>
				<div id="sp_title">
					<h2>Create an account</h2>
				</div>
				<%= render "shared/form", f: f %>
		 	<% end %>
		</div>
	
 	</div>

 <% end %>
