<script>


	const arr = [1,2,3];
	<% if chessgame.player1_id == current_user.id  %>
		let player_data = JSON.parse("<%= escape_javascript chessgame.play.html_safe %>")
		<% if chessgame.player1_turn %>
			player_data.your_turn = true
		<% else %>
			player_data.check ? enemy_check = true : enemy_check = false
			player_data.checkmate ? enemy_checkmate = true : enemy_checkmate = false
			player_data = {enemy_check: enemy_check, enemy_checkmate:enemy_checkmate, your_turn: false}
		<% end %>
		Object.freeze(player_data)
	<% elsif chessgame.player2_id == current_user.id  %>
		let player_data = JSON.parse("<%= escape_javascript chessgame.play.html_safe %>")
		<% if !chessgame.player1_turn %>
			player_data.your_turn = true
		<% else %>
			player_data.check ? enemy_check = true : enemy_check = false
			player_data.checkmate ? enemy_checkmate = true : enemy_checkmate = false
			player_data = {enemy_check: enemy_check, enemy_checkmate:enemy_checkmate, your_turn: false}
		<% end %>
		Object.freeze(player_data)
	<% end %>
</script>

<% if chessgame.player1_id == current_user.id  %>
				
		<p id = "players_turn">
				<% if chessgame.player1_turn %>
					Your turn
				<% else %>
					Enemy's turn
				<% end %>
		</p>

<% elsif chessgame.player2_id == current_user.id  %>
		<p id = "players_turn">
				<% if !chessgame.player1_turn %>
					Your turn
				<% else %>
					Enemy's turn
				<% end %>
		</p>

<% end %>

<div>
	<p id="checkstate"></p>
</div>


<form action="/chessgames/<%=chessgame.id%>" accept-charset="UTF-8" method="post" data-remote="true" id='chess_form' > 
	<input type="hidden" id="chessgame_friend_id" name="chessgame[friend_id]" value="<%= friend.id %>">
	<input name="_method" type="hidden" value="patch" />
	<div id ="chess">
		<ul id="chessboard">
			<% if chessgame.player1_id == current_user.id  %>
				
				<% chessgame.board.nodes.each_with_index do |node,ind|%>					
							<li>
								<% pos_str = node.text_pos  %>
										<% if node.class != Node %>
											<% symbol = node.symbol %>
										<% else %>
											<% symbol = " " %>
										<% end %>
								<% if chessgame.player1_turn %>

									<div class="board_box_container"> 
										
							
										<button id= "<%= pos_str %>" type="button" value="<%= pos_str %>"
												 class="board_box board_<%=(ind.even?)? 'white' : 'black'%>_box" ><%= symbol %></button>
									</div>
								<% else %>
									<div class="board_box_container" >
										<button id= "<%= pos_str %>" type="button" class="board_box board_<%=(ind.even?)? 'white' : 'black'%>_box"><%= symbol %></button>
									</div>
								<% end %>			
							</li>			
				<% end %>
			

			<% elsif chessgame.player2_id == current_user.id  %>

				<% chessgame.board.nodes.reverse.each_with_index do |node, ind|%>
						
							<li>
								<% pos_str = node.text_pos  %>
									<% if node.class != Node %>
										<% symbol = node.symbol %>
									<% end %>
								<% if !chessgame.player1_turn %>
									<div class="board_box_container"> 

										<button id= "<%= pos_str %>" type="button" value="<%= pos_str %>"
											 class="board_box board_<%=(ind.even?)? 'white' : 'black'%>_box" ><%= symbol %></button>
									</div>
								<% else %>
									<div class="board_box_container" >
										<button id= "<%= pos_str %>" type="button" class="board_box board_box board_<%=(ind.even?)? 'white' : 'black'%>_box"><%= symbol %></button>
									</div>
								<% end %>			
							</li>		
				<% end %>

			<% end %>
		</ul>
	</div>	
</form>