<script>


	const arr = [1,2,3];
	<% if chessgame.player1_id == current_user.id  %>
		let player_data = JSON.parse("<%= escape_javascript chessgame.play.html_safe %>")
		<% if chessgame.player1_turn && chessgame.viewing_game %>

			player_data.your_turn = true
		<% else %>
			player_data.check ? enemy_check = true : enemy_check = false
			player_data.checkmate ? enemy_checkmate = true : enemy_checkmate = false
			player_data = {enemy_check: enemy_check, enemy_checkmate:enemy_checkmate, your_turn: false}
		<% end %>
		Object.freeze(player_data)
	<% elsif chessgame.player2_id == current_user.id  %>
		let player_data = JSON.parse("<%= escape_javascript chessgame.play.html_safe %>")
		<% if !chessgame.player1_turn && chessgame.viewing_game %>
			player_data.your_turn = true
		<% else %>
			player_data.check ? enemy_check = true : enemy_check = false
			player_data.checkmate ? enemy_checkmate = true : enemy_checkmate = false
			player_data = {enemy_check: enemy_check, enemy_checkmate:enemy_checkmate, your_turn: false}
		<% end %>
		Object.freeze(player_data)
	<% end %>
</script>

<div id="player_bar">
		<% if chessgame.player1_id == current_user.id  %>				
			<% if chessgame.player1_turn %>
				<h2 id = "players_turn" class="your_turn"> Your turn</h2>
			<% else %>
				<h2 id = "players_turn" class="enemy_turn"> Enemy's turn</h2>
			<% end %>				

		<% elsif chessgame.player2_id == current_user.id  %>
			<% if !chessgame.player1_turn %>					
				<h2 id = "players_turn" class="your_turn"> Your turn</h2>
			<% else %>
				<h2 id = "players_turn" class="enemy_turn"> Enemy's turn</h2>
			<% end %>
		<% end %>

		<h3 id="checkstate"></h3>

		<div id= newgame-button>
			<%= form_for(:chessgame, url: chessgames_url) do |f| %>
					<%= f.hidden_field :friend_id, value: friend.id %>	
					<%= f.submit "New Game", id: "newgame"%>
			<% end %>						
		</div>
</div>

<form action="/chessgames/<%=chessgame.id%>" accept-charset="UTF-8" method="post" data-remote="true" id='chess_form' class="chess"> 
		<input type="hidden" id="chessgame_friend_id" name="chessgame[friend_id]" value="<%= friend.id %>">
		<input name="_method" type="hidden" value="patch" />
			<ul id="chessboard">
				<% if chessgame.player1_id == current_user.id  %>
					<% table_ind = 0 %>
					
					<% chessgame.board.nodes.each_with_index do |node,ind|%>					
								<li>
									<% pos_str = node.text_pos  %>

									<% if table_ind == 1  %> 
										<% if ind % 8 == 0 %>
											<% table_ind = 1  %>
										<% else %>
											<% table_ind = 0  %>
										<% end %>
										
									<% elsif  table_ind == 0 %>
										<% if ind % 8 == 0 %>
											<% table_ind = 0  %>
										<% else %>
											<% table_ind = 1  %>
										<% end %>
									<% end %>

									<% if node.class != Node %>
										<% symbol = node.symbol %>
									<% else %>
										<% symbol = " " %>
									<% end %>

									<% if chessgame.player1_turn %>

										<div class="board_box_container"> 
											
								
											<button id= "<%= pos_str %>" type="button" value="<%= pos_str %>"
													 class="board_box board_<%=(table_ind.even?)? 'white' : 'black'%>_box <%= node.class%>" >
											    <%= render "chess_pieces", symbol: symbol %>
													 	
											</button>
										</div>
									<% else %>
										<div class="board_box_container" >
											<button id= "<%= pos_str %>" type="button" class="board_box board_<%=(table_ind.even?)? 'white' : 'black'%>_box <%= node.class%>">
												 <%= render "chess_pieces", symbol: symbol %>
													
											</button>
										</div>
									<% end %>			
								</li>			
					<% end %>
				

				<% elsif chessgame.player2_id == current_user.id  %>

					<% table_ind = 0 %>

					<% chessgame.board.nodes.reverse.each_with_index do |node, ind|%>
								
								<li>
									<% pos_str = node.text_pos  %>

									<% if table_ind == 1  %> 
										<% if ind % 8 == 0 %>
											<% table_ind = 1  %>
										<% else %>
											<% table_ind = 0  %>
										<% end %>
										
									<% elsif  table_ind == 0 %>
										<% if ind % 8 == 0 %>
											<% table_ind = 0  %>
										<% else %>
											<% table_ind = 1  %>
										<% end %>
									<% end %>

									<% if node.class != Node %>
										<% symbol = node.symbol %>
									<% end %>
									<% if !chessgame.player1_turn %>
										<div class="board_box_container"> 


											<button id= "<%= pos_str %>" type="button" value="<%= pos_str %>"
												 class="board_box board_<%=(table_ind.even?)? 'white' : 'black'%>_box <%= node.class%>" >
												 <%= render "chess_pieces", symbol: symbol %>
												 
											</button>
										</div>
									<% else %>
										<div class="board_box_container" >
											<button id= "<%= pos_str %>" type="button" class="board_box board_box board_<%=(table_ind.even?)? 'white' : 'black'%>_box <%= node.class%>">
												<%= render "chess_pieces", symbol: symbol %>
													
											</button>
										</div>
									<% end %>	
	
								</li>		
					<% end %>

				<% end %>
			</ul>
</form>
