<div id ="gamechat_wrapper">
	<% if @friends.any? %>
	<div id="gamechat_friend_list">
		<div class="gamechat_list_title">
			<img src="<%= url_for(current_user.avatar.variant(resize: 'x40',  combine_options: {gravity: 'Center', crop: '40 x 40 + 0 + 0'})) %>"   >
			<h2>Games</h2>
		</div>
		<ul>
			<% @friends.each do |friend| %>
				<li class="gamechat_list_friend">

					<%= form_tag("/gamechat", method: "get") do %>	
					

							<%= hidden_field_tag :friend_id, friend.id %>
							<% if @friend && @friend.id == friend.id %>	
								<button class="friend_selected">
							<% else %>
								<button>
							<% end %>
								<img src="<%= url_for(friend.avatar.variant(resize: 'x50',  combine_options: {gravity: 'Center', crop: '50 x 50 + 0 + 0'})) %>" >
									<h3><%=friend.name_capitalized %></h3>
							</button>

					<% end %>
					
				</li>
			<% end %>
		</ul>
	</div>

		<div id="game_chat"  data-chat-room-id = "<%=@relationship.id %>">
			<div class="gamechat_title">
				<img src="<%= url_for(@friend.avatar.variant(resize: 'x40',  combine_options: {gravity: 'Center', crop: '40 x 40 + 0 + 0'})) %>"   >
				<h2><%=@friend.name_capitalized %></h2>
			</div>
			<div id="game_chat_container">
				<% if @chessgame %>

					<div id="chessgame">


						<%= render "chess", chessgame: @chessgame , friend: @friend %>
					</div>
				<% end %>
				
				<div id ="chat">
					<%= render "shared/chat" %>
				</div>	
			</div>
			
		</div>


	<% else %>
		<div class= "gamechat_warning">
			<p>You don't have any friends to chat or play with! go and find some.</p>
		</div>

	<% end %>
</div>