
<% if @friends.any? %>
	<ul>
		<% @friends.each do |friend| %>
			<li>

				<%= form_tag("/gamechat", method: "get") do %>	
				
					<div> 
						<%= hidden_field_tag :friend_id, friend.id %>	
					</div>
					
					<div>
						<% if friend.user_name %>
							<input  type="submit" value="<%=friend.user_name %>">
						<% else %>
							<input  type="submit" value="<%=friend.first_name %>">
						<% end %>
					</div>
				<% end %>
				
			</li>
		<% end %>
	</ul>
	<div id="game_chat"  data-chat-room-id = "<%=@relationship.id %>">
		<% if @chessgame %>

			
			<%= render "chess", chessgame: @chessgame , friend: @friend %>

			<div id= newgame-button>

				<%= form_for(:chessgame, url: chessgames_url) do |f| %>

					<%= f.hidden_field :friend_id, value: @friend.id %>	
					<%= f.submit "New Game"%>

				<% end %>
			
			</div>

		<% end %>
		
		<div id ="chat">
			<%= render "shared/chat" %>
		</div>	
	</div>
<% else %>
	<div class= "warning">
		<p>You don't have any friends to chat or play with! go and find some.</p>
	</div>

<% end %>