<% provide(:title, @title) %>	
<% if logged_in? %>
	<button id="connect_chat_action_cable" class="hidden"></button> 
	<% if @friends %>
			<div id="contacts">
				<%= render "shared/friends_list", friends: @friends %>
			</div>
	<% end %>

	<div id="space_for_chat_boxes">

	</div>


	<div id="home_container">

		<div id ="home_wrapper">
			<div id="post_form">
				<%= render "shared/post_form"  %>
			</div>

			<ul id="posts">
				<%= render "shared/posts", posts: @posts   %>
			</ul>

			<div id="next_posts_link">
	     		<%= render 'shared/next_link' %>
			</div>
		</div>

	</div>

<% else %>
	 <%= render "layouts/login_header" , fixed: false %>

	<div id="start_signup">
		<div id="start_signup_grid">

			<div id="signup_phrase">
				<h2>Share, connect and play Chess with your friends.</h2>
			</div>

			<%= form_for(@user) do |f|%>
				<div id="sp_title">
					<h2>Create an account</h2>
				</div>
				<%= render "shared/form", f: f %>
		 	<% end %>
		</div>
	
 	</div>

 <% end %>
