<% if logged_in?  %>
	<button id="connect_chat_action_cable" class="hidden"></button> 
	<% if @friends %>
			<div id="contacts">
				<%= render "shared/friends_list", friends: @friends %>
			</div>
	<% end %>

	<div id="space_for_chat_boxes">

	</div>
<% else %>

	 <%= render "layouts/login_header", fixed: true %>
<% end %>

<div id="users_page_wrapper">

	<% if logged_in?  && !@search && !@friends_of %>
		<div id="accept_frienships">
			<h2>Friendship requests</h2>
			<%= render "shared/friendship_requests" %>
		</div>
	<% end %>
	
	<div id="show_users">
		<% if logged_in?  && !@search && !@friends_of %>
			<h2>Add more friends</h2>
		<% elsif @friends_of %>
			<h2> <%= @user.name_capitalized %> friends</h2>
		<% elsif !@search %>
			<h2>Check some users</h2>
		<% else %>
			<h2>Search results</h2>
		<% end %>
		<%= render "shared/show_users", users: @users %>
	</div>

	<div id="next_users_link">
		<%= render 'shared/next_link' %>
	</div>
</div>