
<% if @user.user_name %>
	<h1><%= @user.user_name %></h1>
<% else %>
	<h1><%= @user.first_name + @user.first_name %></h1>
<% end %>

<p>Born in <%= @user.birthday %></p>

<% if current_user?(@user)%>
	<%= link_to "edit", edit_user_url %>
	<%= render "shared/post_form"  %>
<% end %>



<%= render "shared/posts", posts: @posts   %>


