
<% if @user.user_name %>
	<h1><%= @user.user_name %></h1>
<% else %>
	<h1><%= @user.first_name + @user.first_name %></h1>
<% end %>

<p>Born in <%= @user.birthday %></p>

<% if logged_in?  && @user != current_user %>
	<div id ="friendship_button">
		<%= render "shared/friendship_form" %>
	</div>
	
<% end %>

<% if current_user?(@user)%>
	<%= link_to "edit", edit_user_url %>
	<%= render "shared/post_form"  %>
<% end %>


<ul id="posts">
	<%= render "shared/posts", posts: @posts   %>
</ul>

<div id="next_posts_link">
	<%= render 'shared/next_link' %>
</div>
