<% if logged_in?  %>
	<button id="connect_chat_action_cable" class="hidden"></button> 
	<% if @friends %>
			<div id="contacts">
				<%= render "shared/friends_list", friends: @friends %>
			</div>
	<% end %>

	<div id="space_for_chat_boxes">

	</div>
<% end %>

<div id="show">
	<div id ="show_wrapper">
		<% if @user.mural.attached? %>
			<img src="<%= url_for(@user.mural) %>"  height="320" >
			
		<% end %>

		<% if current_user?(@user)%>
			<%= form_for(@user) do |f| %>
					<input name="_method" type="hidden" value="patch" />
					<%= f.label "choose mural pic" %>
					<%= f.file_field :mural %> 
					<%= f.submit "upload" %>
			<% end %>
		<% end %>



		<h1><%= @user.name_capitalized %></h1>

		<% if @user.avatar.attached? %>
			<img src="<%= url_for(@user.avatar) %>"  height="120" >
		<% end %>

		<% if current_user?(@user)%>
			<%= form_for(@user) do |f| %>
					<input name="_method" type="hidden" value="patch" />
					<%= f.label "choose avatar pic" %>
					<%= f.file_field :avatar %> 
					<%= f.submit "upload" %>
			<% end %>
		<% end %>

		<p>Born in <%= @user.birthday %></p>

		<% if logged_in?  && @user != current_user %>
			<div id ="friendship_button">
				<%= render "shared/friendship_form", user: @user %>
			</div>
			
		<% end %>

		<% if current_user?(@user)%>
			<%= link_to "edit", edit_user_url %>
			<%= render "shared/post_form"  %>
		<% end %>


		<ul id="posts">
			<%= render "shared/posts", posts: @posts   %>
		</ul>

		<div id="next_posts_link">
			<%= render 'shared/next_link' %>
		</div>
	</div>

</div>

