<% if logged_in?  %>
	<button id="connect_chat_action_cable" class="hidden"></button> 
	<% if @friends %>
			<div id="contacts">
				<%= render "shared/friends_list", friends: @friends %>
			</div>
	<% end %>

	<div id="space_for_chat_boxes">

	</div>

<% else %>
	 <%= render "layouts/login_header", fixed: true %>
<% end %>

<div id="show_container">
	<div id ="show_wrapper">

		<div id="mural_container">
			<% if @user.mural.attached? %>
					<img src="<%= url_for(@user.mural) %>" class="mural clickable_media user_img hidden" >
					<img src="<%= url_for(@user.mural.variant(combine_options: {gravity: 'Center', crop: ' x313 + 0 + 0'})) %>" class="mural clickable_media user_img " >
				
			<% end %>

			<% if current_user?(@user)%>
				<div id="edit_options_buttons">
					
						<a href="/users/<%=@user.id%>/edit" id="edit_profile_button">
							<button>Edit profile</button>
						</a>

					<div id="edit_avatar_button">
						<button>Edit avatar</button>
					</div>

					<div id="edit_wall_button">
						<button>Edit wall</button>
					</div>
				</div>

			<% else %>

				<div id ="friendship_button_container">
					<%= render "shared/friendship_form", user: @user %>
				</div>
			<% end %>

			<div id="show_user_options_buttons">

				<div class="avatar_and_username_display">
					<div>
						<img src="<%= url_for(@user.avatar) %>" class="clickable_media user_img hidden"  >
						<img src="<%= url_for(@user.avatar.variant(resize: 'x160',  combine_options: {gravity: 'Center', crop: '160 x 160 + 0 + 0'})) %>" class="clickable_media user_img"  >	

						<a href="<%= url_for(@user) %>"> <h3><%= @user.name_capitalized %> </h3> </a>

					</div>
				</div>

				<a href="/users/?friends_of_user=<%= @user.id%>" class="show_user_button_link">
					<button>
						<h3>User friends</h3>
					</button>
				</a>

				<a href="/users/<%=@user.id%>?photos_only=1" class="show_user_button_link last">
					<button>
						<h3>Pictures</h3>
					</button>
				</a>

			</div>
		</div>

		<% if current_user?(@user)%>
			<div id="post_form">
				<%= render "shared/post_form", post: @post   %>
			</div>
			
		<% end %>


		<ul id="posts">
			<%= render "shared/posts", posts: @posts   %>
		</ul>

		<div id="next_posts_link">
			<%= render 'shared/next_link' %>
		</div>
	</div>

</div>

