
	<% if @user.first_name %> 
		 <div id="sp_user_name">
	 		<%= f.text_field :user_name, placeholder: "User name"%>
	 	</div>
	<% end %>
	
	 <div id="sp_first_name">
	 	<%= f.text_field :first_name, placeholder: "First name"%>
	 </div>

	 <div id="sp_last_name">
	 	<%= f.text_field :last_name, placeholder: "Surname"%>
	 </div>

	 <div id="sp_email">
	 	<%= f.email_field :email, placeholder: "Email address"%>
	 </div>

	 <div id="sp_password">
        <%= f.password_field :password, placeholder: "Password" %>
	 </div>

	 <div id="sp_birthday">
	 	<%= f.label :birthday, "Birthday" %>
	 	<% if @user.birthday %>
	 		<input type="date" id="user_birthday" name="user[birthday]" value="<%= @user.birthday %>" max ="<%=Time.new %>">
	 	<% else %>
	 		<input type="date" id="user_birthday" name="user[birthday]" max ="<%=Time.new %>">
	 	<% end %>	
	 </div>

	 <div id="sp_gender">
	 	<%= f.radio_button :gender , "male" %>
	 	<%= f.label :gender, "Male" %>
	 	
	 	<%= f.radio_button :gender , "female" %>
	 	<%= f.label :gender, "Female" %>
	 </div>

	  <div id="sp_submit">
		 <% if @user.first_name %> 
			 	<%= f.submit "Save changes" %>
		 <% else %>
			 	<%= f.submit "Sign up" %>	
		 <% end %>
	 </div>