<div  <% if visible %> class="display_pointer pressed posts" <% else %> class="display_pointer hidden posts" <% end %> >
	<svg width="15px" height="15px" viewBox="0 0 680 680" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<g id="#ffffffff">
	<path fill="#ffffff" opacity="1.00" d=" M 328.71 12.87 C 337.68 10.05 348.11 12.53 354.77 19.20 C 365.64 29.60 371.59 43.71 378.00 57.04 C 432.47 164.31 486.79 271.67 541.16 379.00 C 404.71 379.00 268.26 379.00 131.81 379.00 C 187.46 269.17 243.18 159.38 298.71 49.50 C 303.55 39.54 308.17 29.11 316.18 21.21 C 319.85 17.79 323.80 14.33 328.71 12.87 Z" />
	</g>
	</svg>

	<div class="navbar_display_container">
		<div class="navbar_display">
			<ul>
				<% if relationships_new_posts.any? %>
					<% relationships_new_posts.each do |relationship| %>
						<li>
							<% if relationship.friend_active_id == current_user.id  %>
								<a href="/users/<%=relationship.friend_pasive_id%>" data-turbolinks="false">	
									<button>
										<img src="<%= url_for(relationship.friend_pasive.avatar) %>" >
										<div>
											<p> <strong> <%= relationship.friend_pasive.name_capitalized %></strong> has new Posts </p>
										</div>
									</button>					
								</a>
							<% elsif relationship.friend_pasive_id == current_user.id  %>
								<a href="/users/<%=relationship.friend_active_id%>" data-turbolinks="false">	
									<button>
										<img src="<%= url_for(relationship.friend_active.avatar) %>" >
										<div>
											<p> <strong> <%= relationship.friend_active.name_capitalized %> </strong> has new Posts</p>
										</div>
									</button>					
								</a>							
							<% end %>
						</li>
					<% end %>

				<% else %>
					<h3 class="no_post_notification">No new posts, add friends to get more!</h3>
				<% end %>
			</ul>
		</div>
	</div>
</div>
