<%= form_with(model: @post) do |f| %>

		<div class="post_form_title">
			<h2>Create Post</h2>
		</div>

		<div class="post_form_text_zone">
			<img src="<%= url_for(current_user.avatar) %>" height="34px" >
			<%= f.text_area :content, placeholder: "Write a post" %>
		</div>

		

		<div class="post_form_end_button">
			<Button type="button" id="form_media_button">Photo/Video</Button>
			<%= f.file_field :media , accept: 'image/png,image/gif,image/jpeg,video/mp4,video/webm,video/ogg' ,direct_upload: true, class: 'hidden', id: "form_media_field" %>  

			<%= f.submit "Post" %>
		</div>
		

<% end %>