<footer class="footer">
	<div class="footer_wrapper">
		<nav>
			<ul class="footer_links">
				<% unless logged_in? %>
				<li><%= link_to "Sign up", new_user_path%></li>
				<li><%= link_to "Log in", login_path%></li>
				<% end %>
				<li><%= link_to "About", about_path%></li>
				<li><%= link_to "Contact", contact_path%></li>
				<li><a href="https://github.com/darkshadowspike/ChessBook">Github Repository</a></li>
			</ul>
		</nav>
		<span class="name_author">Chessbook  <%= Time.now.year %> by <a href="#">Andrew Matos</a> </span>		
	</div>
</footer>