<!DOCTYPE html>
<html>
  <head>
    <title><%= title_changer(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>    
          <form action="/checkup" accept-charset="UTF-8" method="post" data-remote="true" class="hide">    
            <input id="user_id" name="user" type="hidden" value="<%= current_user.id %>" />
            <button type="submit" id="checkup_button" ></button>
          </form>

          <script> 
              document.querySelector("body").style.setProperty('--screen-height', screen.height + 'px')
              document.querySelector("body").style.setProperty('--screen-width', screen.width + 'px')
              if(typeof chat_data == "undefined" || typeof chat_data.user_name == "undefined"){ 
                window.chat_data = {user_name: "<%= current_user.user_name %>"} ; 
                Object.freeze(chat_data);
              }

                request_button = document.querySelector("#friendship_request_notification");
                if(request_button != null){
                  request_button.addEventListener('click',press_navbar_button);
                }

                posts_button = document.querySelector("#general_notification")
                if(posts_button != null){
                    posts_button.addEventListener('click',press_navbar_button);
                }

                messages_display_button = document.querySelector("#new_message_notification")
                if(messages_display_button != null){
                  messages_display_button.addEventListener('click',press_navbar_button); 
                }
 
          </script>
           <%= render "layouts/navbar" %>
    <% else %>
      <%= render "layouts/login_header" %>
    <% end %>

    <% flash.each do |message_type, message| %>
        <div class="flash_message flash_<%=message_type%>"> <%= message %> </div>
    <% end %>

    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
