<!DOCTYPE html>
<html>
  <head>
    <title><%= title_changer(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('/favicon.png') %>

  </head>

  <body>

    <div id="overlay" class="hidden">
      <div class="flex_container">
        <% if logged_in? %>
          <div class="hidden" id="overlay-inner">
            
              <%= form_for(@user, :html => {:id => "avatar_form", :class => "hidden"}) do |f| %>
                  <input name="_method" type="hidden" value="patch" />
                  <div class="upload_title"> 
                    <p>Update profile picture</p> 
                  </div>
                  <div class="file_input_container">
                    <%= f.file_field :avatar , direct_upload: true %> 
                    <%= f.submit "upload" %>
                  </div>
              <% end %>
              
              <%= form_for(@user, :html => {:id => "mural_form", :class => "hidden"} ) do |f| %>
                <input name="_method" type="hidden" value="patch" />
                  <div class="upload_title"> 
                    <p>Update wall picture</p> 
                  </div>
                  <div class="file_input_container">
                    <%= f.file_field :mural, direct_upload: true %> 
                    <%= f.submit "upload" %>
                  </div>
             <% end %>

             <div id="overlay_inner_media_display" class="hidden">
                  <div class="post_media_overlay">
                    
                  </div>

                  <div class="post_container">
                    
                  </div>
             </div>

             <div id="overlay_inner_user_media_display" class="hidden">
               
             </div>

            </div>
          <% end %>
      </div>
    </div>


    <% if logged_in? %>    
          <form action="/checkup" accept-charset="UTF-8" method="post" data-remote="true" class="hide">    
            <% if current_page?(:controller => 'users', :action => 'gamechat') && @friend %>
                <input type="hidden" id="user_in_gamechat" name="user[in_gamechat]" value="1">
                <input type="hidden" id="user_message_sender_id" name="user[message_sender_id]" value="<%= @friend.id %>">
            <% else %>
                <input type="hidden" id="user_in_gamechat" name="user[in_gamechat]" value="0">
            <% end %>
             <button type="submit" id="checkup_button" ></button>
          </form>

          <script> 
                document.querySelector("body").style.setProperty('--screen-height', screen.height + 'px')
                document.querySelector("body").style.setProperty('--screen-width', screen.width + 'px')
                if(typeof chat_data == "undefined" || typeof chat_data.user_name == "undefined"){ 
                 window.chat_data = {user_name: "<%= current_user.name_capitalized %>"} ; 
                 Object.freeze(chat_data);
                }

                buttons_assign();
                text_area = document.querySelectorAll(".text_area");
                if(typeof text_area[0] != undefined){
                  text_area.forEach(element =>{
                    element.addEventListener("keydown",pressEnterComment)
                  })
                }
 
          </script>
           <%= render "layouts/navbar" %>
    <% else %>
      <script> 
        document.querySelector("body").style.setProperty('--screen-height', screen.height + 'px')
        document.querySelector("body").style.setProperty('--screen-width', screen.width + 'px')
      </script>
     
    <% end %>

    <% flash.each do |message_type, message| %>
        <div class="flash_message flash_<%=message_type%>"> <%= message %> </div>
    <% end %>

    <%= yield %>

    <% if !current_page?(:controller => 'users', :action => 'gamechat') %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
