<!DOCTYPE html>
<html>
  <head>
    <title><%= title_changer(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
    <% else %>
      <%= render "layouts/login_header" %>
    <% end %>

    <% flash.each do |message_type, message| %>
        <div class="flash_message flash_<%=message_type%>"> <%= message %> </div>
    <% end %>

    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
